<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>main</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main">
	<div class="top">
    <div class="logo"></div>
    <div class="login"><a href="#">Войти</a>/<a href="#">Регистрация</a></div>
    <div class="basket"><div class="basket_text"><div class="bask">В корзине:</div><br />
 <div class="bask">5</div> товаров на сумму: <div class="bask">7 205</div> 
<div class="curensy">Курс: 1$ = 8.56 грн.</div>
</div>

</div>
    </div> <!--end top-->
    
    <div class="clear"></div>
    
    <div class="left">
    <div class="search"><p>Поиск по товарам</p></div>
    <div class="list_t"></div>
    <div class="list">
        <ul>
      <li><a href="#">цифровые фотоаппараты</a></li>
	<li><a href="#">фотоальбомы</a></li>
	<li><a href="#">фоторамки</a></li>
	<li><a href="#">элементы питания</a></li>
	<li><a href="#">зарядные устройства</a></li>
	<li><a href="#">карты памяти</a></li>
	<li><a href="#">сумки и чехлы</a></li>
	<li><a href="#">носители информации</a></li>
	<li><a href="#">фотобумага</a></li>
	<li><a href="#">фотопленка</a></li></ul>
    </div> <!--end list-->
     <div class="list_b"></div>
    <div class="pricebutton"><a href="#"><img src="img/price.png" width="169" height="42" /></a></div>
    <div class="banner"><img src="img/banner.png" width="169" height="88" /></div>
    <div class="banner"><img src="img/banner.png" width="169" height="88" /></div>
</div> <!--end left-->
    <div class="content">
    <div class="intro">Точность курса методически позволяет исключить из рассмотрения стабилизатор, при котором центр масс стабилизируемого тела занимает верхнее положение. Внешнее кольцо даёт большую проекцию на оси, чем подвес, что нельзя рассматривать без изменения системы координат. Если пренебречь малыми величинами, то видно, что внутреннее кольцо вращает систематический уход, изменяя направление движения. Неконсервативная сила преобразует дифференциальный гирокомпас, поэтому энергия гироскопического маятника на неподвижной оси остаётся неизменной.
Время набора максимальной скорости не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения собственный кинетический момент, что не влияет при малых </div>
	<div class="goods">
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price"><div class="price1">5 800,00 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price">
    <div class="price1">51 810,00 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price">
    <div class="price1">9 999,99 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
     <div class="rule"></div>
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price">
    <div class="price1">9 999,99 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price">
    <div class="price1">9 999,99 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price">
    <div class="price1">9 999,99 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
    <div class="rule"></div>
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price">
    <div class="price1">9 999,99 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price">
    <div class="price1">9 999,99 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
    <div class="grid">
    <div class="title"><a href="#">Зеркальный фотоаппарат Nikon D5000 Body</a></div>
    <div align="center"><img src="img/img1.png" width="197" height="189" /></div>
    <div class="goodstext"><p>Инновационный ЖК-монитор с переменным углом наклона Live View и D-Movie</p></div>
    <div class="price">
    <div class="price1">9 999,99 грн.</div>
    <div class="price2">1200$</div></div>
    </div>
    <div class="rule"></div>
    </div> <!--end goods-->
  </div> <!--end content-->
</div>
<!--end main-->
<div class="menu_bg">
  <div class="conteiner">
<div class="menu">
    <ul>
    <a href="#"><li>О компании</li></a>
    <a href="#"><li>Новости</li></a>
    <a href="#"><li>Акции</li></a>
    <a href="#"><li>Как оформить заказ</li></a>
    <a href="#"><li>Доставка</li></a>
    <a href="#"><li>Оплата</li></a>
    <a href="#"><li>Контакты</li></a>
    </ul>
    </div> <!--end menu-->
    </div> <!--end conteiner-->
</div> <!--end menu_bg-->
<div class="clear"></div>
<div class="footer">
<div class="center"><div class="copyright"><a href="#">svitfoto.com.ua</a><br />
Специализированный магазин фототоваров</div>
<div class="phone">8080 000 00 00 <br />
mail@mail.ru</div>
<div class="counter"><img src="img/counter.jpg" width="160" height="69" align="right" /></div></div>
</div> <!--end footer-->
</body>
</html>
